.banner {
  background-color: var(--secondary);
  color: white;
  padding: 0.75rem 0;
  position: sticky;
  top: 0;
  z-index: 2000;
  font-size: 0.9rem;
}

.content {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.message {
  flex-grow: 1;
}

.link {
  margin-left: 10px;
  text-decoration: underline;
  font-weight: 700;
}

.close {
  color: white;
  font-size: 1.5rem;
  line-height: 1;
}
